
    <div class="container">
            <div class="row">
                <div class="col-md-4">
                <a routerLink="/city-list">   <img src="../assets/categories/sun_beach.jpg" class ="img" ></a> 
                    <div class="bottom-left">Sun and Beach</div>
                </div>
                <div class="col-md-4">
                <a routerLink="/city-list"> 
                        <img src="../assets/categories/city_brak.jpg"  class ="img" ></a>
                        <div class="bottom-left">City break</div>
                </div>
                <div class="col-md-4">
                <a routerLink="/city-list">   
                    <img src="../assets/categories/family_holidays.jpg"  class ="img" ></a>
                    <div class="bottom-left">Family holidays</div>
                </div>
            </div>

            <div class="row">
                    <div class="col-md-4">
                     <a routerLink="/city-list">   
                        <img src="../assets/categories/top_intrests.jpg"  class ="img" ></a>
                        <div class="bottom-left">Top interests</div>
                    </div>
                    <div class="col-md-4">
                     <a routerLink="/city-list">   
                         <img src="../assets/categories/romantic_weekend.jpg"   class ="img"></a>
                         <div class="bottom-left">Romantic weekend</div>
                    </div>    
            </div>
     </div>
     <router-outlet></router-outlet>